<%- include("header") -%>

<h2>This is about</h2>
<p>someone does do something to violate your copyright, like copy your blog post and attribute it to himself, or try to
    claim authorship of your screenplay, copyright law makes it possible for you to enforce your rights against the
    other
    and maintain your ownership.</p>

<%- include("footer") -%>